$color-brand: #F75E05;
$color-text: #1E212C;
$color-white: #FFFFFF;
// $color-hover: 
$color-grey: #424551;
$color-grey-light: #787A80;
// $color-link: 


$content-width: 1230px;
$tablet-width: 800px;
$mobile-big-width: 450px;