%transition{
    transition: all 0.5s ease-in-out;
    
}
%hover__button_colored{
    background-color: $color-brand;
    cursor: pointer;
    color: $color-white;
}


.lectures-item__button{
    @extend %transition;
    &:hover{
        @extend %hover__button_colored;

    }
}
.course-item, .lectures-item{
    @extend %transition;
    &:hover{
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    }
}




