@import "./fonts";
@import "./null";
@import "./const";
@import "./mixins";
@import "./placeholder";
@import "./layout";
@import "./global";

@import "./header";
@import "./footer";
@import "./main page/top";
@import "./main page/why";
@import "./main page/ready";
@import "./main page/how";
@import "./main page/lectures";
@import "./main page/certificate";
@import "./main page/team";
@import "./main page/review";
@import "./main page/posts";
@import "./main page/subscribe";
@import "./course page/courseOnline";
@import "./events/eventsLecture";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block{
    padding-top: 180px;
    @include media-tablet{
        padding-top: 100px;
    }
}

.text_colored{
    color: $color-brand;
}

._uppercase{
    text-transform: uppercase;
}
._centered{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.button_colored{
    padding: 12px 40px;
    background-color: $color-brand;
    color: $color-white;
    border-radius: 4px;
    @include font(1.6rem, 700, 160%);
    @include media-laptop{
        font-size: 2rem;
    }
}
.button_invisible{
    padding: 12px 40px;
    border-radius: 4px;
    @include font(1.6rem, 700, 160%);
    @include media-laptop{
        font-size: 2rem;
    }
    img{
        margin-right: 10px;
    }
}
.button_bordered{
    padding: 12px 40px;
    border-radius: 4px;
    border: 1px solid $color-brand;
    color: $color-brand;
    @include font(1.6rem, 700, 160%);
    @include media-laptop{
        font-size: 2rem;
    }
    img{
        margin-right: 10px;
    }
}
.href_colored{
    color: $color-brand;
}
.title{
    @include font(4.6rem, 900, 130%);
    color: $color-text;
    @include media-laptop{
    }
    @include media-big-mobile{
    }
}
.text{
    @include font(1.6rem, 400, 160%);
    color: $color-grey;
    @include media-tablet{
        font-size: 2rem;
    }
}
.background-block{
    background-image: linear-gradient(55.95deg, rgb(255 63 58 / 27%) 0%, rgb(247 94 5 / 27%) 100%);
}

h2{
    @include font(4.6rem, 900, 130%);
}
h3{
    @include font(3.2rem, 900, 130%);
}
h4{
    @include font(2.8rem, 700, 150%);
}
h6{
    @include font(1.6rem, 700, 150%);
}
.minititle{
    padding-bottom: 8px;
    text-decoration: uppercase;
}

.course-item{
    border: 1px solid #E5E8ED;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    cursor: pointer;
}
.course-item_field {
    @include font(1.4rem, 400, 150%);
    color: $color-white;
    padding: 1px 8px;
    border-radius: 4px;
    display: inline-block;
    &._green{
        background-color: #03CEA4;
    }
    &._orange{
        background-color: #F89828;
    }
    &._blue{
        background-color: #5A87FC;
    }
    &._red{
        background-color: #F52F6E;
    }
}
.course-item_occupation{
    @include font(2rem, 700, 150%);
    padding: 20px 0;
}
.course-item__price{
    @include font (1.8rem, 700, 150%);
    color: $color-brand;
    margin-right: 8px;
}
.course-item__name{
    @include font(1.8rem, 400, 150%);
    padding-left: 8px;
    color: $color-grey-light;
    border-left: 1px solid $color-grey-light;
}
.swiper__prev, .swiper__next{
    position: absolute;
    display: inline-block;
    width: 48px;
    height: 48px;
    z-index: 5;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}
.swiper__next{
    background-color: $color-brand;
}
.search-form__input{
    padding: 9px 12px;
    border-right: none;
    border-radius: 4px;
    @include font(1.2rem, 400, 150%);
    width: 100%;
    outline: none;
}
.search-form{
    display: flex;
    border-radius: 4px;
    border: 1px solid #D7DADD;
}
.search-form__button{
    padding: 9px 12px;
    border-left: none;
    margin-left: -2px;
    border-radius: 4px;
}


