@import "./fonts";
@import "./null";
@import "./const";
@import "./mixins";
@import "./placeholder";
@import "./layout";

@import "./header";
@import "./main page/top";
@import "./main page/why";
@import "./main page/ready";
@import "./main page/how";
@import "./main page/lectures";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Lato", "Verdana", sans-serif;
    line-height: 130%;
    color: $color-text;
}
.wrapper{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}

.container{
    max-width: $content-width;
    margin: 0 auto;
    @include media-laptop{
        padding-right: 15px;
        padding-left: 15px;
    }
}
.block{
    padding: 180px 0 0 0;
}

.text_colored{
    color: $color-brand;
}
.text_italic{
    font-style: italic;
}
._uppercase{
    text-transform: uppercase;
}
.button_colored{
    padding: 20px 40px;
    background-color: $color-brand;
    color: $color-white;
    border-radius: 4px;
    @include font(1.6rem, 700, 160%);
    @include media-laptop{
        font-size: 2rem;
    }
}
.button_invisible{
    padding: 20px 40px;
    border-radius: 4px;
    @include font(1.6rem, 700, 160%);
    @include media-laptop{
        font-size: 2rem;
    }
    img{
        margin-right: 10px;
    }
}
.button_bordered{
    padding: 20px 40px;
    border-radius: 4px;
    border: 1px solid $color-brand;
    color: $color-brand;
    @include font(1.6rem, 700, 160%);
    @include media-laptop{
        font-size: 2rem;
    }
    img{
        margin-right: 10px;
    }
}
.href_colored{
    color: $color-brand;
}
.title{
    @include font(4.6rem, 900, 130%);
    color: $color-text;
    @include media-laptop{
    }
    @include media-big-mobile{
    }
}
.background-block{
    background-image: linear-gradient(55.95deg, rgb(255 63 58 / 27%) 0%, rgb(247 94 5 / 27%) 100%);
}

h2{
    @include font(4.6rem, 900, 130%);
}
h3{
    @include font(3.2rem, 900, 130%);
}
h4{
    @include font(2.8rem, 700, 150%);
}
h6{
    @include font(1.6rem, 700, 150%);
}
.minititle{
    padding-bottom: 8px;
    text-decoration: uppercase;
}

.course-item{
    border: 1px solid #E5E8ED;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    cursor: pointer;
}
.course-item_field {
    @include font(1.4rem, 400, 150%);
    color: $color-white;
    padding: 1px 8px;
    border-radius: 4px;
    display: inline-block;
    &._green{
        background-color: #03CEA4;
    }
    &._orange{
        background-color: #F89828;
    }
    &._blue{
        background-color: #5A87FC;
    }
    &._red{
        background-color: #F52F6E;
    }
}
.course-item_occupation{
    @include font(2rem, 700, 150%);
    padding: 20px 0;
}
.course-item__price{
    @include font (1.8rem, 700, 150%);
    color: $color-brand;
    margin-right: 8px;
}
.course-item__name{
    @include font(1.8rem, 400, 150%);
    padding-left: 8px;
    color: $color-grey-light;
    border-left: 1px solid $color-grey-light;
}

