.how{
    padding-bottom: 140px;
}

.how__title{
    margin-bottom: 70px;
}
.how__buttons{
    display: flex;
    justify-content: space-between;
}
.how__button{
    display: inline-flex;
    align-items: center;
    padding: 10px 70px;
    text-align: center;
    border-radius: 4px;
    color: #9A9CA5;
    @include font(1.6rem, 700, 150%);
    svg{
        margin-right: 9px;
    }
}
.how__button{
    @extend %transition;
    &:hover{
        svg path{
            fill: #FF3F3A;
        }
        border: 1px solid $color-brand;
        color: $color-brand;

    }
}
.how__button._active{
    border: 1px solid $color-brand;
    color: $color-brand;
    svg path{
        fill: #FF3F3A;
    }
}

.how-block{
    @include columns($width: 48%);
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
}
.how-block__info{
    max-width: 495px;
}
.how-block__title{
    margin-bottom: 24px;
}
.how-block__img{
    img{
        max-width: 100%;
    }
}
