

.why-block{
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    @include media-tablet{
        flex-direction: column;
        justify-content: center;
    }
}
.why__info{
    margin-left: 135px;
    @include media-tablet{
        margin-left: 0;
    }
}
.why__minititle{
    margin-bottom: 8px;
    max-width: 250px;
}
.why__title{
    max-width: 390px;
    margin-bottom: 40px;
}
.why__item{
    margin-bottom: 12px;
    list-style-type: none;
    background: url(../../images/icons/list_why.svg) no-repeat left;
    padding-left: 30px;
}
.why__button{
    margin-top: 48px;
}
.why__media{
    img{
        max-width: 100%;
    }
    @include media-tablet{
        margin: 0 -15px;
    }
}