

.why-block{
    display: flex;
    justify-content: space-between;
}
.why__info{
    margin-left: 135px;
}
.why__minititle{
    margin-bottom: 8px;
    max-width: 250px;
}
.why__title{
    max-width: 390px;
    margin-bottom: 40px;
}
.why__item{
    margin-bottom: 12px;
    list-style-type: none;
    background: url(../../images/icons/list_why.svg) no-repeat left;
    padding-left: 30px;
}
.why__button{
    margin-top: 48px;
}
.why__media{
    img{
        max-width: 100%;
    }
}