.courseOnline{
    padding-top: 80px;
    padding-bottom: 120px;
    @include media-tablet{
        padding-top:40px;
        padding-bottom: 40px;
    }
}
.courseOnline__top{
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-tablet{
        display: block;
    }
}
.courseOnline-filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media-tablet{
        justify-content: center;
    }
}
.courseOnline-filter__item{
    @include font(1.6rem, 700, 160%);
    color: #9A9CA5;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    &._active{
        color: $color-brand;
        border-radius: 4px;
        border: 1px solid $color-brand;
    }
    &._iconed{
        display: flex;
        align-items: center;
        svg {
            margin-right: 9px;
        }
    }
    
}
.courseOnline-layout{
    @include columns($width: 30%);
    @include media-tablet{
        @include columns($width: 45%);
    }
}
.courseOnline-item{
    margin-bottom: 30px;
    max-width: 390px;
}
.course-item__img{
    max-width: 390px;
    img{
        width: 100%;
    }
}
.courseOnline-item__info{
    padding: 25px;
    @include media-tablet{
        padding: 15px;
    }
}
.course__load{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    @include font(1.6rem, 700, 160%);
    padding-top: 80px;
    img{
        margin-right: 18px;
    }
}