.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    transform: scale(0);
    transition: all 0.5s ease-in-out;

}

.popup._active {
    transform: translateY(0%);
}

.popup__container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.popup__body {
    width: 485px;
    margin: auto;
    position: relative;
    padding: 30px;
    border: 1px solid #E5E8ED;
    background-color: $color-white;
    box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
    overflow-x: hidden;
    scrollbar-width: 10px;


    @include media-tablet {
        width: 320px;
        padding: 15px 20px;

    }
}

.popup__body ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: rgba(13, 96, 111, 0.16);

}

.popup__body ::-webkit-scrollbar-track {
    border-radius: 10px;
}

.popup__title {
    margin-bottom: 24px;
}

.popup__text {
    color: $color-grey-light;
    @include font(1.4rem, 400, 150%);
    margin-bottom: 24px;
}

.popup__top {
    padding-bottom: 24px;
}

.popup__form {
    margin-bottom: 24px;
}

.popup__close {
    font-size: 2.5rem;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

}

.popup__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .form__text {
        margin-bottom: 8px;
    }

    input {
        width: 100%;
    }
}

.popup__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 24px;

    label.check {
        margin-left: 25px;
    }
}

.popup__button_password {
    color: $color-brand;
    padding: 10px 20px;
}

.popup__button_submit {
    width: 100%;
}

hr {
    padding-top: 24px;
    border-top: 1px solid #E5E8ED;
}

.popup-contacts-layout {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin-right: 14px;
    }
}

.popup-register__open,
.popup-login__open {
    cursor: pointer;
}