.blogSubscribe {
    background-color: #f4f5f7;

}

.blogSubscribe-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogSubscribe__img {
    max-width: 100%;

    img {
        width: 100%;
        min-width: 200px;

        @include media-tablet {
            display: none;
        }

    }

}

.blogSubscribe__info {
    max-width: 600px;
    margin-left: 50px;

    @include media-tablet {
        padding: 15px;
        margin-left: 0;
    }
}

.blogSubscribe__title {
    margin-bottom: 48px;
    max-width: 600px;

    @include media-laptop {
        font-size: 3rem;
    }

    @include media-tablet {
        font-size: 2.2rem;
        margin-bottom: 20px;
    }
}

.blogSubscribe__form {
    display: flex;
    margin-bottom: 24px;

    @include media-tablet {
        display: block;
    }
}

.blogSubscribe__input {
    padding: 13px 16px;
    min-width: 422px;
    margin-right: 24px;
    border: 1px solid #d7dadd;
    border-radius: 4px;
    color: #9a9ca5;
    height: 52px;

    @include media-tablet {
        width: 100%;
        margin-bottom: 10px;
        min-width: 100px;
    }
}

.blogSubscribe__button {
    width: 100%;
}