.aboutCreate{
    padding-top: 80px;
    @include media-tablet{
        padding-top: 30px;
    }
}
.aboutCreate-block{
    @include columns ($width: 45%);
    align-items: center;
    @include media-tablet{
        display: block;
    }
}
.aboutCreate__title, .aboutCreate__minititle{
    max-width: 600px;
}
.aboutCreate__title{
    padding-bottom: 48px;
}
.aboutCreate__info{
    max-width: 600px;
}
.aboutCreate__text{
    @include font(1.6rem, 400, 160%);

}
.aboutCreate__text:not(:last-child){
    margin-bottom: 24px;
}
.aboutCreate__buttons{
    padding-top: 60px;
    @include media-tablet{
        padding-top: 30px;
    }
}
.aboutCreate__button:not(:last-child){
    margin-right: 24px;
    @include media-tablet{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.aboutCreate__text_big{
    font-size: 2rem;
}
.aboutCreate__button{
    @include media-tablet{
        display: block;
    }
}
.aboutCreate__img{
    img{
        width: 100%;
    }
}
